<nav class="navbar">
    <a class="navbar-brand" href="#">
        <img src="img/logo-dark128x.png" width="48" height="48" alt="">
    </a>
    <form class="form-inline mr-auto">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
    </form>
    <span id="welcome" class="navbar-brand"></span>
    <div class="dropdown">
        <a id="user" class="navbar-brand text-dark dropdown-toggle" href="#" role="button" id="dropdownMenuLink"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div class="dropdown-menu p-1 menu" aria-labelledby="dropdownMenuLink">
            <a id="profile" class="dropdown-item" href="#">Profile</a>
            <hr class="m-1 p-0">
            <div id="appliedwrap" class="d-none">
            <a id="view-btn-applied" class="dropdown-item" href="#">Applied Jobs</a>
            <hr class="m-1 p-0">
            </div>
            <div id="savedwrap" class="d-none">
            <a id="view-btn-saved" class="dropdown-item" href="#">Saved Jobs</a>
            <hr class="m-1 p-0">
            </div>
            <div id="postwrap" class="d-none">
            <a id="post" class="dropdown-item" href="#">Post Jobs</a>
            <hr class="m-1 p-0">
            </div>
            <div id="acceptedwrap" class="d-none">
            <a id="view-btn-accepted" class="dropdown-item" href="#">Accepted Profile</a>
            <hr class="m-1 p-0">
            </div>
            <a id="gtfo" class="dropdown-item" href="#">Sign Out</a>
        </div>
    </div>
</nav>
<div class="d-flex flex-wrap" id="content">
    {{#each jobspost}}
    <div id="jobpost" class="card bg-dark text-white ml-3 mt-3">
        <img src="img/Screen Shot 2019-10-13 at 10.17.37 PM.png" class="card-img img-fluid" alt="...">
        <div class="card-body">
            <h5 class="card-title">{{title}}</h5>
            <p class="card-text">{{city}}, {{state}}</p>
        </div>
    </div>
    {{/each}}
    <div id = "jobpost">
        {{!-- Place holder for job postings --}}
    </div>
    <div id ="allEmployees">
        {{!-- Place holder to view all candidates --}}
    </div>
</div>
</div>
<div id="landing" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content p-3 text-center">
            <h5>Welcome to Pinned Jobs</h5>
            <h7>Easy to use tech search engine..</h7>
            <div class="modal-body text-left">
                <form>
                    <fieldset id="login-form">
                        <input id="email" class="form-control form-control-lg" type="text" placeholder="Email">            
                    </fieldset>
                    <button id="login" type="submit" class="btn btn-danger btn-lg btn-block w-100 mt-3"
                        data-state="login">Log-In</button>
                </form>
            </div>
        </div>
    </div>
</div>

<!-- Profile Modal -->
<div id="profilemodal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Profile</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-flex">
                        <input type="name" class="form-control mr-1" id="input-fname" placeholder="First Name" required>
                        <input type="name" class="form-control ml-1" id="input-lname" placeholder="Last Name" required>
                    </div>
                    <div class="form-group d-flex">
                        <input type="city" class="form-control mr-1" id="input-city" placeholder="City" required>
                        <input type="state" class="form-control ml-1" id="input-state" placeholder="State" required>
                    </div>
                    <div class="form-group">
                        <input type="name" class="form-control" id="input-linkedin"
                            placeholder="URL: website, linkedin, portfolio, etc." required>
                    </div>
                    <div class="form-group">
                        <input type="name" class="form-control" id="input-skills"
                            placeholder="Skills: css, html, javascript, etc." required>
                    </div>
                    <div class="form-group">
                        <label>Career Interests</label>
                        <select multiple class="form-control" id="input-job">
                            <option value="Web Developer">Web Developer</option>
                            <option value="Full-Stack Developer">Full-Stack Developer</option>
                            <option value="UX Designer">UX Designer</option>
                            <option value="UI Designer">UI Designer</option>
                            <option value="Backend Engineer">Backend Engineer</option>
                            <option value="Instructor">Instructor</option>
                            <option value="Frontend Engineer">Frontend Engineer</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"id="submit-btn">Save Changes</button>
            </div>
        </div>
    </div>
</div>

<!-- Applications Modal -->
<div class="modal fade" id="j-applied" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Applications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="j-list" class="modal-body">
                <div class="card overflow-auto" style="height: 250px">
                    <ul class="list-group list-group-flush p-3"id="listApplied">
                        {{!-- {{ #each jobposts }}
                        <li class="list-group-item">{{title}} - {{city}}, {{state}}</li>
                        {{ /each }} --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Saved Modal -->
<div class="modal fade" id="j-saved" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Saved Applications</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="j-list" class="modal-body">
                <div class="card overflow-auto" style="height: 250px">
                    <ul class="list-group list-group-flush p-3"id="listSaved">
                        {{!-- {{ #each jobposts }}
                        <li class="list-group-item">{{title}} - {{city}}, {{state}}</li>
                        {{ /each }} --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Find Talent Modal -->
<div class="modal fade" id="j-talent" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Potential Candidates</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="j-list" class="modal-body">
                <div class="card overflow-auto" style="height: 250px">
                    <ul class="list-group list-group-flush p-3"id="listTalent">
                        {{!-- {{ #each jobposts }}
                        <li class="list-group-item">{{title}} - {{city}}, {{state}}</li>
                        {{ /each }} --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Applicants Modal -->
<div class="modal fade" id="j-applicants" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalCenterTitle">Applicants</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div id="j-list" class="modal-body">
                <div class="card overflow-auto" style="height: 250px">
                    <ul class="list-group list-group-flush p-3"id="listApplicants">
                        {{!-- {{ #each jobposts }}
                        <li class="list-group-item">{{title}} - {{city}}, {{state}}</li>
                        {{ /each }} --}}
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
{{!-- Job Posts Modal --}}
<div id="j-post" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Job Posts</h5>
            </div>
            <div class="modal-body">
                <form>
                    <div class="form-group d-flex">
                        <input type="title" class="form-control" id="input-title" placeholder="Job Title" required>
                    </div>
                    <div class="form-group d-flex">
                        <textarea type="desc" class="form-control" rows="4" id="input-desc" placeholder="Description"
                            required></textarea>
                    </div>
                    <div class="form-group d-flex">
                        <input type="city" class="form-control mr-1" id="input-city-employer" placeholder="City" required>
                        <input type="state" class="form-control ml-1" id="input-state-employer" placeholder="State" required>
                    </div>
                    <div class="form-group">
                        <label>Qualifications</label>
                        <select multiple class="form-control" id="input-qualification">
                            <option>Web Developer</option>
                            <option>Full-Stack Developer</option>
                            <option>UX Designer</option>
                            <option>UI Designer</option>
                            <option>Backend Engineer</option>
                            <option>Instructor</option>
                            <option>Frontend Engineer</option>
                        </select>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary"id="submit-btn-employer">Save Changes</button>
            </div>
        </div>
    </div>
</div>